<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Luohu</key>
	<dict>
		<key>time</key>
		<string>43</string>
		<key>coordinate</key>
		<string>22.529, 114.113031</string>
		<key>order</key>
		<string>0</string>
	</dict>
	<key>Sheung Shui</key>
	<dict>
		<key>time</key>
		<string>38</string>
		<key>coordinate</key>
		<string>22.501319, 114.128361</string>
		<key>order</key>
		<string>1</string>
	</dict>
	<key>Fanling</key>
	<dict>
		<key>time</key>
		<string>35</string>
		<key>coordinate</key>
		<string>22.492064, 114.138733</string>
		<key>order</key>
		<string>2</string>
	</dict>
	<key>Tai Wo</key>
	<dict>
		<key>time</key>
		<string>30</string>
		<key>coordinate</key>
		<string>22.451019, 114.161169</string>
		<key>order</key>
		<string>3</string>
	</dict>
	<key>Tai Po Market</key>
	<dict>
		<key>time</key>
		<string>27</string>
		<key>coordinate</key>
		<string>22.444633, 114.170592</string>
		<key>order</key>
		<string>4</string>
	</dict>
	<key>University</key>
	<dict>
		<key>time</key>
		<string>21</string>
		<key>coordinate</key>
		<string>22.413353, 114.210172</string>
		<key>order</key>
		<string>5</string>
	</dict>
	<key>Fo Tan</key>
	<dict>
		<key>time</key>
		<string>17</string>
		<key>coordinate</key>
		<string>22.394847, 114.197892</string>
		<key>order</key>
		<string>6</string>
	</dict>
	<key>Sha Tin</key>
	<dict>
		<key>time</key>
		<string>14</string>
		<key>coordinate</key>
		<string>22.382222, 114.187222</string>
		<key>order</key>
		<string>7</string>
	</dict>
	<key>Tai Wai</key>
	<dict>
		<key>time</key>
		<string>12</string>
		<key>coordinate</key>
		<string>22.373025, 114.17845</string>
		<key>order</key>
		<string>8</string>
	</dict>
	<key>Kowloon Tong</key>
	<dict>
		<key>time</key>
		<string>7</string>
		<key>coordinate</key>
		<string>22.3375, 114.1754</string>
		<key>order</key>
		<string>9</string>
	</dict>
	<key>Mong Kok East</key>
	<dict>
		<key>time</key>
		<string>4</string>
		<key>coordinate</key>
		<string>22.3219, 114.1725</string>
		<key>order</key>
		<string>10</string>
	</dict>
	<key>Hong Hum</key>
	<dict>
		<key>time</key>
		<string>0</string>
		<key>coordinate</key>
		<string>22.302583, 114.182167</string>
		<key>order</key>
		<string>11</string>
	</dict>
</dict>
</plist>
