<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EastRail</key>
	<array>
		<dict>
			<key>name</key>
			<string>Luohu</string>
			<key>time</key>
			<string>43</string>
			<key>coordinate</key>
			<string>22.529, 114.113031</string>
			<key>RGB</key>
			<string>144	238	144	</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sheung Shui</string>
			<key>RGB</key>
			<string>255	170	0	</string>
			<key>time</key>
			<string>38</string>
			<key>coordinate</key>
			<string>22.501319, 114.128361</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fanling</string>
			<key>RGB</key>
			<string>154	205	50	</string>
			<key>time</key>
			<string>35</string>
			<key>coordinate</key>
			<string>22.492064, 114.138733</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tai Wo</string>
			<key>RGB</key>
			<string>221	221	51	</string>
			<key>time</key>
			<string>30</string>
			<key>coordinate</key>
			<string>22.451019, 114.161169</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tai Po Market</string>
			<key>RGB</key>
			<string>147	112	219	</string>
			<key>time</key>
			<string>27</string>
			<key>coordinate</key>
			<string>22.444633, 114.170592</string>
		</dict>
		<dict>
			<key>name</key>
			<string>University</string>
			<key>RGB</key>
			<string>152	224	223	</string>
			<key>time</key>
			<string>21</string>
			<key>coordinate</key>
			<string>22.413353, 114.210172</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Racecource</string>
			<key>time</key>
			<string>18</string>
			<key>coordinate</key>
			<string>22.400417, 114.202778</string>
			<key>RGB</key>
			<string>51	170	153	</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fo Tan</string>
			<key>RGB</key>
			<string>255	165	0	</string>
			<key>time</key>
			<string>17</string>
			<key>coordinate</key>
			<string>22.394847, 114.197892</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sha Tin</string>
			<key>RGB</key>
			<string>236	134	236	</string>
			<key>time</key>
			<string>14</string>
			<key>coordinate</key>
			<string>22.382222, 114.187222</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tai Wai</string>
			<key>RGB</key>
			<string>0	0	156	</string>
			<key>time</key>
			<string>12</string>
			<key>coordinate</key>
			<string>22.373025, 114.17845</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kowloon Tong</string>
			<key>RGB</key>
			<string>0	136	221	</string>
			<key>time</key>
			<string>7</string>
			<key>coordinate</key>
			<string>22.3375, 114.1754</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mong Kok East</string>
			<key>RGB</key>
			<string>48	78	48	</string>
			<key>time</key>
			<string>4</string>
			<key>coordinate</key>
			<string>22.3219, 114.1725</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Hong Hum</string>
			<key>RGB</key>
			<string>255	0	119	</string>
			<key>time</key>
			<string>0</string>
			<key>coordinate</key>
			<string>22.302583, 114.182167</string>
		</dict>
	</array>
</dict>
</plist>
